name: Dependencies Example

on: 
  workflow_dispatch

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
       - name: Checkout
         uses: actions/checkout@v5.0.0
         with:
           repository: kowakawo/calculator-app-finished
       - name: NPM framework set up 
         uses: actions/setup-node@v6.O.O
       - name: List contents
         run: ls -alhR
           
         
    
