on:
  workflow_dispatch:

jobs:
  deployment-test:
    runs-on: self-hosted
    steps: 
      - name: Pull image from dockerhub
        run: docker pull kowakawo/app
      - name: Stop all running containers
        run: docker stop $(docker ps -q) || echo "There are no containers active"
      - name: Run the latest version of the containerized application
        run: docker run -p -d 3000:3000 kowakawo/app
    
